[Unit]
Description=Kevin's Custom Service 1
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/bin/bash /home/ubuntu/aws_autoscaling/services/run_rails_task_1.sh
Restart=on-abort
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
