[Unit]
Description=Kevin's Custom Service 2
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/bin/bash /home/ubuntu/aws_autoscaling/services/run_prog.sh kprog2.rb
Restart=on-abort
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
