[Unit]
Description=Event Bundle Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/bin/bash /home/ubuntu/primary_repo/services/run_event_bundle.sh
Restart=on-failure
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
