[Unit]
Description=Kevin's Calculator Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/bin/bash /home/ubuntu/aws_autoscaling/services/run_calculator.sh
Restart=always
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
