[Unit]
Description=Event Fetch Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/bin/bash /home/ubuntu/primary_repo/services/run_event_fetch.sh
Restart=on-abnormal
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
