[Unit]
Description=Kevin's Ping Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/bin/bash /home/ubuntu/primary_repo/services/run_ping_server.sh
Restart=always
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
